---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlockQuote from "../components/BlockQuote.astro";
import repair_costs_json from "../data/repair_costs.json";
import Warning from "../components/Warning.astro";
import Details from "../components/Details.astro";

interface PriceRange {
  min: number;
  max: number;
}

type Price = string | number | string[] | number[] | PriceRange;

interface RepairCostItem {
  description: string;
  price?: Price;
  qualifier?: string;
  subCategory?: string;
  items?: RepairCostSubItem[];
}

interface RepairCostSubItem {
  description?: string;
  price?: Price;
  qualifier?: string;
}

interface RepairCost {
  category: string;
  description?: string;
  items: RepairCostItem[];
}

const repair_costs: RepairCost[] = repair_costs_json;

const cadCurrency = new Intl.NumberFormat("en-ca", {
  style: "currency",
  currency: "CAD",
});

const isArrayOfStrings = (value: unknown): value is string[] => {
  return (
    Array.isArray(value) && value.every((item) => typeof item === "string")
  );
};

const isArrayOfNumbers = (value: unknown): value is string[] => {
  return (
    Array.isArray(value) && value.every((item) => typeof item === "number")
  );
};

const formatPrice = (price: Price) => {
  let formattedPrice: string = "";

  if (typeof price === "string") {
    formattedPrice = price;
  } else if (typeof price === "number") {
    formattedPrice = cadCurrency.format(price);
  } else if (Array.isArray(price)) {
    if (price.length > 0) {
      if (isArrayOfStrings(price)) {
        formattedPrice = price.join(", ");
      } else if (isArrayOfNumbers(price)) {
        const formatted = price.map((n) => cadCurrency.format(n));
        formattedPrice = formatted.join(", ");
      }
    }
  } else if (typeof price === "object") {
    formattedPrice = `${cadCurrency.format(price.min)} - ${cadCurrency.format(
      price.max
    )}`;
  }

  return formattedPrice;
};

const title = "Guitar Repairs Kelowna | JR Guitar | Kelowna, BC";
const description =
  "JR Guitar repairs acoustic guitar, electric guitar, bass guitar, banjo, mandolin or violin in Kelowna, BC";
---

<BaseLayout title={title} description={description}>
  <section class="max-w-full pt-8 sm:pt-14 md:pt-16">
    <h1>Guitar Repairs in Kelowna</h1>
    <p>
      JR Guitar is the instrument repair shop of choice for many professional
      musicians in Kelowna, as well as other guitar stores, pawn shops and music
      schools in town. They trust Jim to take care of their difficult repair and
      fret jobs... and you can too!
    </p>
    <div class="flex justify-center">
      <BlockQuote>
        JR Guitar - trusted by professional musicians in Kelowna since 1994
      </BlockQuote>
    </div>
    <p>
      What's keeping you from enjoying your acoustic guitar, electric guitar,
      bass guitar, banjo, mandolin or violin?
    </p>
    <div class="flex flex-wrap items-center justify-evenly md:mt-4">
      <ul class="md:m-0">
        <li>Is it difficult too play?</li>
        <li>It won't stay in tune?</li>
        <li>Do the frets need some cleaning up?</li>
        <li>Does it need a complete fret job?</li>
        <li>Are there cracks in the neck or body?</li>
        <li>Is the acoustic bridge lifting?</li>
        <li>Having problems with the pickups?</li>
        <li>Does it buzz like a sitar?</li>
        <li>Is it just plain broken?</li>
      </ul>
      <Image
        class="aspect-square max-w-fit rounded-md"
        src={import("../assets/jr-guitar-repair-shop.jpg")}
        alt="JR Guitar repair shop"
        loading="eager"
        decoding="async"
        layout="constrained"
        fetchpriority="high"
      />
    </div>
    <h2>Fret Jobs</h2>
    <h2>Set-ups</h2>
    <p>
      Any guitar you buy will play and sound better with a professional set-up.
      Many guitars people thought were "unplayable" are often salvageable.
    </p>
    <h2>Restoration</h2>
    <p>
      Jim has resurrected instruments as varied as a 100 year old mandolin, a
      1951 Gibson and a 1920's banjo. He salvaged an acoustic guitar after a car
      had driven over it. He was able to resell it to one of Kelowna's most
      experienced musicians, who was blown away by its amazing tone!
    </p>
    <p>
      We are not promising miracles, but it is surprising what skill,
      experience, the right tools, and a <strong>ton of patience</strong> can accomplish!
    </p>
    <h2>Modifications</h2>
    <p>
      Jim also custom builds electric guitars and can modify yours to be the
      instrument you've always dreamed it could be.
    </p>
    <div class="flex flex-wrap items-center justify-evenly md:mt-10">
      <Image
        class="aspect-300/233 max-w-fit rounded-md"
        src={import("../assets/jim-cream-guitar.jpg")}
        alt="Jim Rhindress holding a cream-coloured electric guitar with many other guitars hanging on the wall behind him"
        layout="constrained"
      />
      <div class="text-center md:w-5/12 md:text-2xl text-pretty">
        Stop by his smoke-free shop and let Jim make your guitar play better
        than ever.
      </div>
    </div>
  </section>
  <section class="mt-8 max-w-full">
    <h2>Repair Costs</h2>
    <div class="space-y-4">
      {
        repair_costs.map(({ category, description, items }) => (
          <Details {category}>
            <div class="grid grid-rows-[0fr] transition-[grid-template-rows] duration-500 ease-in-out group-open:grid-rows-[1fr]">
              <div class="overflow-hidden">
                {description && <p>{description}</p>}
                {items && (
                  <ul>
                    {items.map(
                      ({
                        description,
                        items,
                        price,
                        qualifier,
                        subCategory,
                      }) => (
                        <li>
                          {subCategory && (
                            <>
                              <h4>{subCategory}</h4>
                              <p>
                                {description}
                                {price && (
                                  <>
                                    {" "}
                                    <strong>{formatPrice(price)}</strong>
                                  </>
                                )}
                              </p>
                              <ul>
                                {items?.map(
                                  ({ description, price, qualifier }) => (
                                    <li>
                                      {description}
                                      {price && (
                                        <>
                                          {" "}
                                          <strong>{formatPrice(price)}</strong>
                                        </>
                                      )}
                                      {qualifier && (
                                        <>
                                          {" "}
                                          <em>({qualifier})</em>
                                        </>
                                      )}
                                    </li>
                                  )
                                )}
                              </ul>
                            </>
                          )}
                          {!subCategory && (
                            <>
                              {description}{" "}
                              {price && (
                                <>
                                  {" "}
                                  <strong>{formatPrice(price)}</strong>
                                </>
                              )}
                              {qualifier && (
                                <>
                                  {" "}
                                  <em>({qualifier})</em>
                                </>
                              )}
                            </>
                          )}
                        </li>
                      )
                    )}
                  </ul>
                )}
              </div>
            </div>
          </Details>
        ))
      }
    </div>
  </section>
  <section class="max-w-full pb-8 pt-8 sm:pt-14 md:pt-16">
    <Warning>
      <strong>Store policy</strong>: Any instrument left more than one month
      after completion will incur a storage fee of $10.00 per week unless
      previously agreed upon.
    </Warning>
  </section>
</BaseLayout>
