---
const { error, label, name, ...attrs } = Astro.props;
---

<div class="relative">
  <textarea
    class="peer h-40 w-full rounded border-2 border-yellow-500 bg-yellow-50 px-3.5 pt-2 text-stone-900 placeholder-transparent valid:border-stone-500 focus:border-yellow-600 focus:outline-none"
    id={name}
    name={name}
    placeholder={name}
    required
    aria-required="true"
    {...attrs}></textarea>
  <label
    for={name}
    class="pointer-events-none absolute -top-2.5 left-2 bg-yellow-50 px-2 text-sm text-stone-600 transition-all peer-placeholder-shown:top-2 peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-500 peer-focus:-top-2.5 peer-focus:text-sm peer-focus:text-yellow-700"
    >{label}</label
  >
  <div
    class="invisible pl-2 text-xs text-red-600 peer-required:peer-invalid:peer-focus-visible:visible"
  >
    {error}
  </div>
</div>
